<div class="container-fluid my-5 bg-white">
 <div class="col-md-6 mx-auto bg-white p-4 rounded shadow-sm">
    <h1 class="mb-3"> Contact</h1>
    <p class="text-muted">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos saepe, non explicabo omnis placeat id earum ipsum, alias soluta magnam atque quam quo consectetur modi facere libero voluptates minima inventore!</p>

<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Your E-mail</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your email">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Your message</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"  placeholder="Your message here..."></textarea>
  </div>

  <div class="mb-3 text-end">
  <button class="btn btn-primary" type="submit">Submit</button>
</div>
</div>
</div>