<!-- your html code here -->

<div class="container-fluid bg-white">
<h1>Portfolio</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto expedita amet corporis quod quisquam suscipit dolor sed corrupti nostrum doloremque hic, libero labore ea omnis velit, consequatur aperiam dolore nemo!</p>
<div class="row row-cols-1 row-cols-md-3 g-4  ms-3 me-3">
  <div class="col">
    <div class="card">
      <img src="../website/assets/img/big-project-image.png" class="card-img-top" alt="image">
      <div class="card-body">
        <h5 class="card-title text-primary">Project Name</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, dolores? Numquam dicta maxime nemo, commodi nihil consectetur in mollitia voluptatibus debitis quas similique eligendi excepturi itaque quo accusamus, voluptate molestiae.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../website/assets/img/big-project-image.png" class="card-img-top" alt="image">
      <div class="card-body">
        <h5 class="card-title text-primary">Project Name</h5>
        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur eaque, quas harum dolores eius aspernatur inventore dicta laboriosam nobis omnis sunt provident sapiente ullam perferendis numquam tenetur ipsam laborum recusandae!</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../website/assets/img/big-project-image.png" class="card-img-top" alt="image">
      <div class="card-body">
        <h5 class="card-title text-primary">Project Name</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium veniam sapiente rem ea, est corporis vitae fugiat necessitatibus quidem reiciendis. Quia eius omnis expedita delectus, molestias nesciunt? Error, expedita enim?</p>
      </div>
    </div>
  </div>

</div>
</div>

