<header
  id="top"
  class="py-5 bg-image-full"
  style="
    background-image: url('assets/img/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 450px;
  "
>
  <div class="container h-100">
    <div class="d-flex flex-column justify-content-center align-items-center text-center" style="min-height: 450px;">
      <h1 class="text-white fw-bolder display-4">One Page Wonder</h1>
      <h2 class="text-white-50 fw-bold fs-3">Will Knock Your Socks Off</h2>
    </div>
  </div>
</header>